<body>
    <div class="header bg-gradient-warning pb-8 pt-5 pt-md-8 ">
        <div class="container-fluid mr-5">
            <div class="header-body">



                <div class="col-xl-10 order-xl-1  ">
                    <div class="card bg-secondary shadow">
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">Ajoutez un vehicule </h3>
                                </div>

                            </div>
                        </div>
                        <div class="card-body">
                            <form role="form" (ngSubmit)="onSubmit()" #vehicleForm="ngForm">
                                <h6 class="heading-small text-muted mb-4">Course</h6>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="constructeur">Constructeur
                                                    (Marque)</label>
                                                <input type="text" id="manufacturer" [(ngModel)]="vehicle.manufacturer"
                                                    class="form-control form-control-alternative"
                                                    placeholder="Marque du véhicule" required #manufacturer="ngModel"
                                                    name="manufacturer">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="modele">Modèle</label>
                                                <input type="text" id="model"
                                                    class="form-control form-control-alternative"
                                                    [(ngModel)]="vehicle.model" placeholder="Modèle du véhicule"
                                                    required #model="ngModel" name="model">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="nb_place">Nombre de
                                                    places</label>
                                                <input type="number" id="number_of_seats"
                                                    class="form-control form-control-alternative"
                                                    [(ngModel)]="vehicle.number_of_seats" placeholder="0" required
                                                    #number_of_seats="ngModel" name="number_of_seats">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="color">Couleur de la
                                                    carrosserie</label>
                                                <input type="text" id="color"
                                                    class="form-control form-control-alternative"
                                                    [(ngModel)]="vehicle.color" placeholder="couleur" required
                                                    #color="ngModel" name="color">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="date">Numero de votre
                                                    plaque</label>
                                                <input type="text" id="licence_plate"
                                                    [(ngModel)]="vehicle.licence_plate"
                                                    class="form-control form-control-alternative" required
                                                    #licence_plate="ngModel" placeholder="1526142..."
                                                    name="licence_plate">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- <div class="row">
                                                <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="Start">Heure de depart réelle</label>
                                                    <input type="time" id="start-timer" class="form-control form-control-alternative" placeholder="Heure de debut reelle" >
                                                </div>
                                                </div>
                                                <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="End">Heure de fin réelle</label>
                                                    <input type="time" id="end-timer" class="form-control form-control-alternative" placeholder="Heure de fin reelle">
                                                </div>
                                                </div>
                                            </div> -->
                                </div>
                                <hr class="my-4" />
                                <!-- <hr class="my-4" />
                      
                      <h6 class="heading-small text-muted mb-4">About me</h6>
                      <div class="pl-lg-4">
                        <div class="form-group">
                          <label>{{ test | date }} </label><br>
                          <label>{{ test | date:'shortTime' }} </label>
                          <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words about you ...">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea>
                        </div>
                      </div> -->
                                <div class="text-center">
                                    <button type="submit" class="btn btn-danger mt-4">Ajouter un vehicule</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</body>