<div class="main-content">
    <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
        <div class="container px-4">
            <a class="navbar-brand">
                <img src="assets/img/brand/logo.png" alt="" />
            </a>
            <button class="navbar-toggler" type="button" aria-controls="sidenav-collapse-main">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Collapse header -->
                <div class="navbar-collapse-header d-md-none">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a>
                                <img src="assets/img/brand/blue.png" alt="">
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <button type="button" class="navbar-toggler">
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Navbar items -->
                <ul class="navbar-nav ml-auto">
                    <!-- <li class="nav-item">
              <a class="nav-link nav-link-icon"  [routerLink]="['/dashboard']">
                <i class="ni ni-planet"></i>
                <span class="nav-link-inner--text">Dashboard</span>
              </a>
            </li> -->
                    <li class="nav-item">
                        <a class="nav-link nav-link-icon">
                            <i class="ni ni-circle-08"></i>
                            <span class="nav-link-inner--text">Driver</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-icon">
                            <i class="ni ni-key-25"></i>
                            <span class="nav-link-inner--text">First connection</span>
                        </a>
                    </li>
                    <!-- <li class="nav-item">
              <a class="nav-link nav-link-icon"  [routerLink]="['/user-profile']">
                <i class="ni ni-single-02"></i>
                <span class="nav-link-inner--text">Profile</span>
              </a>
            </li> -->
                </ul>
            </div>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>
<footer class="py-5">
    <div class="container">
        <div class="row align-items-center justify-content-xl-between">
            <div class="col-xl-6">
                <div class="copyright text-center text-xl-left text-muted">
                    &copy; {{ test | date: "yyyy" }} <a href="https://www.creative-tim.com?ref=ada-footer-auth-layout"
                        class="font-weight-bold ml-1">Our Team</a>
                </div>
            </div>
            <div class="col-xl-6">
                <ul class="nav nav-footer justify-content-center justify-content-xl-end">
                    <li class="nav-item">
                        <a href="https://www.creative-tim.com?ref=ada-footer-auth-layout" class="nav-link">Our Team</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.creative-tim.com/presentation?ref=ada-footer-auth-layout"
                            class="nav-link">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://blog.creative-tim.com?ref=ada-footer-auth-layout" class="nav-link">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://github.com/creativetimofficial/argon-dashboard-angular/blob/master/LICENSE.md"
                            class="nav-link">License</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>