<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 500px; background-image: url(assets/img/theme/profile-cover.png); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-white opacity-3"></span>
  <!-- Header container -->
  <!-- <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-lg-7 col-md-10">
          <h1 class="display-2 text-white">Hello Jesse</h1>
          <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>
          <a href="#!" class="btn btn-info">Edit profile</a>
        </div>
      </div>
    </div>-->
</div>
<div class="container-fluid mt--9">
  <div class="row">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card bg-gradient-default shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="text-white mb-0 text-center ">Creating the future together</h2>
            </div>

          </div>
        </div>

      </div>
      <div class="card-body">


        <!--Drives table-->
        <div class="row mt-5">
          <div class="col">
            <div class="card bg-default shadow">
              <div class="card-header bg-transparent border-0">
                <h3 class="text-white mb-0">Courses</h3>
              </div>
              <div class="table-responsive">
                <table class="table align-items-center table-dark table-flush">
                  <thead class="thead-dark">
                    <tr>
                      <!-- <th scope="col">Id</th>
                              <th scope="col">Classe</th> -->
                      <th scope="col">Depart</th>
                      <th scope="col">Arrivée</th>
                      <th scope="col">Date de départ</th>
                      <th scope="col">Choix</th>
                      <th scope="col">Setting</th>
                      <!-- <th scope="col"></th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let drive of drives">
                      <!-- <th scope="row">
                                <div class="media align-items-center">
                                  <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                                  </a>
                                  <div class="media-body">
                                    <span class="mb-0 text-sm">Id 1</span>
                                  </div>
                                </div>
                              </th> -->
                      <!-- <td>
                                Ingé 1
                              </td> -->
                      <td>
                        <span class="badge badge-dot mr-4">
                          <!-- <i class="bg-warning"></i>--> {{drive.pickup}}
                        </span>
                      </td>
                      <td>
                        <div class="media-body">
                          <span class="mb-0 text-sm">{{drive.destination}}</span>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex align-items-center">
                          <span class="mr-2">{{formatDate(drive.deptime)}}</span>
                        </div>
                      </td>
                      <td>
                        <button (click)="participer_drive(drive)"
                          [disabled]="drive.driverId == this.id_user || drive.seating <= 0" type="button"
                          class="btn btn-outline-light btn-sm btn-rounded">Participer
                        </button>
                        <span class="badge bg-primary ms-2">{{drive.seating}}</span>

                      </td>
                      <td class="text-right">
                        <div ngbDropdown placement="bottom-right">
                          <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                            <i class="fas fa-ellipsis-v"></i>
                          </a>
                          <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                            <a class="dropdown-item" href="javascript:void(0)">Modifier</a>
                            <a class="dropdown-item" href="javascript:void(0)">Suppimer</a>
                          </div>
                        </div>
                      </td>

                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>













  <div class="row mt-5">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">Reservations</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Driver</th>
                <th scope="col">N° de reservation</th>
                <!-- <th scope="col">Rate</th> -->
                <th scope="col">Demandée par</th>
                <th scope="col">Status</th>
                <!-- <th scope="col">Depart</th> -->
                <!-- <th scope="col">Arrivée</th> -->
                <!-- <th scope="col">Date de reservation</th> -->
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let reservation of bookingsByDrivesId ">
                <th scope="row">
                  <div class="media align-items-center">
                    <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img alt="Image placeholder" src="../assets/img/theme/conducteur.png">
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm"></span>
                    </div>
                  </div>
                </th>

                <td>
                  #{{reservation.id}}
                </td>
                <td>
                  {{ userNames[reservation.accountId] }}
                </td>
                <!-- <td>
                  25£
                </td> -->
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning" *ngIf="reservation.status =='CANCELED'"></i>
                    <i class="bg-danger" *ngIf="reservation.status =='REFUSED'"></i>
                    <i class="bg-success" *ngIf="reservation.status =='ACCEPTED'"></i>
                    <i class="bg-primary" *ngIf="reservation.status =='PENDING'"></i> {{reservation.status}}
                  </span>
                </td>
                <!-- <td>
                  <div class="avatar-group">
                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                      data-original-title="Ryan Tompson">
                      <img alt="Image placeholder" src="../assets/img/theme/passage.png" class="rounded-circle">
                    </a>
                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                      data-original-title="Romina Hadid">
                      <img alt="Image placeholder" src="../assets/img/theme/team-1-800x800.jpg" class="rounded-circle">
                    </a>
                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                      data-original-title="Alexander Smith">
                      <img alt="Image placeholder" src="../assets/img/theme/passage.png" class="rounded-circle">
                    </a>
                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                      data-original-title="Jessica Doe">
                      <img alt="Image placeholder" src="../assets/img/theme/passage.png" class="rounded-circle">
                    </a> 
                  </div>
                </td> -->
                <!-- <td>
                  <span class="badge badge-dot mr-4">
                  Paris
                  </span>
                </td> -->
                <!-- <td>
                  <div class="media-body">
                    <span class="mb-0 text-sm">Lyon</span>
                  </div>
                </td> -->
                <!-- <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">{{formatDate(reservation.reservationDate)}}</span>
                  </div>
                </td> -->
                <td class="text-right">
                  <!-- <button class="dropdown-item">Participer</button> -->
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)" (click)="acceptBooking(reservation)">Accepter
                        la reservation</a>
                      <a class="dropdown-item" href="javascript:void(0)" (click)="refuseBooking(reservation)">Refuser la
                        reservation</a>

                    </div>
                  </div>
                </td>
              </tr>
              <!-- <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img alt="Image placeholder" src="../assets/img/theme/angular.jpg">
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">Angular Now UI Kit PRO</span>
                    </div>
                  </div>
                </th>
                <td>
                  $1,800 USD
                </td>
                <td>
                  <span class="badge badge-dot">
                    <i class="bg-success"></i> completed
                  </span>
                </td>
                <td>
                  <div class="avatar-group">
                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                      data-original-title="Ryan Tompson">
                      <img alt="Image placeholder" src="../assets/img/theme/team-1-800x800.jpg" class="rounded-circle">
                    </a>
                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                      data-original-title="Romina Hadid">
                      <img alt="Image placeholder" src="../assets/img/theme/team-2-800x800.jpg" class="rounded-circle">
                    </a>
                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                      data-original-title="Alexander Smith">
                      <img alt="Image placeholder" src="../assets/img/theme/team-3-800x800.jpg" class="rounded-circle">
                    </a>
                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                      data-original-title="Jessica Doe">
                      <img alt="Image placeholder" src="../assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                    </a>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">100%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                          aria-valuemax="100" style="width: 100%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)">Action</a>
                      <a class="dropdown-item" href="javascript:void(0)">Another
                        action</a>
                      <a class="dropdown-item" href="javascript:void(0)">Something
                        else here</a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img alt="Image placeholder" src="../assets/img/theme/sketch.jpg">
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">Black Dashboard</span>
                    </div>
                  </div>
                </th>
                <td>
                  $3,150 USD
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-danger"></i> delayed
                  </span>
                </td>
                <td>
                  <div class="avatar-group">
                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                      data-original-title="Ryan Tompson">
                      <img alt="Image placeholder" src="../assets/img/theme/team-1-800x800.jpg" class="rounded-circle">
                    </a>
                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                      data-original-title="Romina Hadid">
                      <img alt="Image placeholder" src="../assets/img/theme/team-2-800x800.jpg" class="rounded-circle">
                    </a>
                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                      data-original-title="Alexander Smith">
                      <img alt="Image placeholder" src="../assets/img/theme/team-3-800x800.jpg" class="rounded-circle">
                    </a>
                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                      data-original-title="Jessica Doe">
                      <img alt="Image placeholder" src="../assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                    </a>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">72%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="72" aria-valuemin="0"
                          aria-valuemax="100" style="width: 72%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="top-right">
                    <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)">Action</a>
                      <a class="dropdown-item" href="javascript:void(0)">Another
                        action</a>
                      <a class="dropdown-item" href="javascript:void(0)">Something
                        else here</a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img alt="Image placeholder" src="../assets/img/theme/react.jpg">
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">React Material Dashboard</span>
                    </div>
                  </div>
                </th>
                <td>
                  $4,400 USD
                </td>
                <td>
                  <span class="badge badge-dot">
                    <i class="bg-info"></i> on schedule
                  </span>
                </td>
                <td>
                  <div class="avatar-group">
                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                      data-original-title="Ryan Tompson">
                      <img alt="Image placeholder" src="../assets/img/theme/team-1-800x800.jpg" class="rounded-circle">
                    </a>
                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                      data-original-title="Romina Hadid">
                      <img alt="Image placeholder" src="../assets/img/theme/team-2-800x800.jpg" class="rounded-circle">
                    </a>
                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                      data-original-title="Alexander Smith">
                      <img alt="Image placeholder" src="../assets/img/theme/team-3-800x800.jpg" class="rounded-circle">
                    </a>
                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                      data-original-title="Jessica Doe">
                      <img alt="Image placeholder" src="../assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                    </a>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">90%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                          aria-valuemax="100" style="width: 90%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="top-right">
                    <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)">Action</a>
                      <a class="dropdown-item" href="javascript:void(0)">Another
                        action</a>
                      <a class="dropdown-item" href="javascript:void(0)">Something
                        else here</a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img alt="Image placeholder" src="../assets/img/theme/vue.jpg">
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">Vue Paper UI Kit PRO</span>
                    </div>
                  </div>
                </th>
                <td>
                  $2,200 USD
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-success"></i> completed
                  </span>
                </td>
                <td>
                  <div class="avatar-group">
                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                      data-original-title="Ryan Tompson">
                      <img alt="Image placeholder" src="../assets/img/theme/team-1-800x800.jpg" class="rounded-circle">
                    </a>
                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                      data-original-title="Romina Hadid">
                      <img alt="Image placeholder" src="../assets/img/theme/team-2-800x800.jpg" class="rounded-circle">
                    </a>
                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                      data-original-title="Alexander Smith">
                      <img alt="Image placeholder" src="../assets/img/theme/team-3-800x800.jpg" class="rounded-circle">
                    </a>
                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                      data-original-title="Jessica Doe">
                      <img alt="Image placeholder" src="../assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                    </a>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">100%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                          aria-valuemax="100" style="width: 100%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="top-right">
                    <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)">Action</a>
                      <a class="dropdown-item" href="javascript:void(0)">Another
                        action</a>
                      <a class="dropdown-item" href="javascript:void(0)">Something
                        else here</a>
                    </div>
                  </div>
                </td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="col-xl-8 mb-5 mb-xl-0">
  <div class="card shadow">
    <div class="card-header border-0">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0">Page visits</h3>
        </div>
        <div class="col text-right">
          <a href="#!" class="btn btn-sm btn-primary">See all</a>
        </div>
      </div>
    </div>
    <div class="table-responsive">

      <table class="table align-items-center table-flush">
        <thead class="thead-light">
          <tr>
            <th scope="col">Page name</th>
            <th scope="col">Visitors</th>
            <th scope="col">Unique users</th>
            <th scope="col">Bounce rate</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              /argon/
            </th>
            <td>
              4,569
            </td>
            <td>
              340
            </td>
            <td>
              <i class="fas fa-arrow-up text-success mr-3"></i> 46,53%
            </td>
          </tr>
          <tr>
            <th scope="row">
              /argon/index.html
            </th>
            <td>
              3,985
            </td>
            <td>
              319
            </td>
            <td>
              <i class="fas fa-arrow-down text-warning mr-3"></i> 46,53%
            </td>
          </tr>
          <tr>
            <th scope="row">
              /argon/charts.html
            </th>
            <td>
              3,513
            </td>
            <td>
              294
            </td>
            <td>
              <i class="fas fa-arrow-down text-warning mr-3"></i> 36,49%
            </td>
          </tr>
          <tr>
            <th scope="row">
              /argon/tables.html
            </th>
            <td>
              2,050
            </td>
            <td>
              147
            </td>
            <td>
              <i class="fas fa-arrow-up text-success mr-3"></i> 50,87%
            </td>
          </tr>
          <tr>
            <th scope="row">
              /argon/profile.html
            </th>
            <td>
              1,795
            </td>
            <td>
              190
            </td>
            <td>
              <i class="fas fa-arrow-down text-danger mr-3"></i> 46,53%
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="col-xl-4">
  <div class="card shadow">
    <div class="card-header border-0">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0">Social traffic</h3>
        </div>
        <div class="col text-right">
          <a href="#!" class="btn btn-sm btn-primary">See all</a>
        </div>
      </div>
    </div>
    <div class="table-responsive">

      <table class="table align-items-center table-flush">
        <thead class="thead-light">
          <tr>
            <th scope="col">Referral</th>
            <th scope="col">Visitors</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              Facebook
            </th>
            <td>
              1,480
            </td>
            <td>
              <div class="d-flex align-items-center">
                <span class="mr-2">60%</span>
                <div>
                  <div class="progress">
                    <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                      aria-valuemax="100" style="width: 60%;"></div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">
              Facebook
            </th>
            <td>
              5,480
            </td>
            <td>
              <div class="d-flex align-items-center">
                <span class="mr-2">70%</span>
                <div>
                  <div class="progress">
                    <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="70"
                      aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">
              Google
            </th>
            <td>
              4,807
            </td>
            <td>
              <div class="d-flex align-items-center">
                <span class="mr-2">80%</span>
                <div>
                  <div class="progress">
                    <div class="progress-bar bg-gradient-primary" role="progressbar" aria-valuenow="80"
                      aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">
              Instagram
            </th>
            <td>
              3,678
            </td>
            <td>
              <div class="d-flex align-items-center">
                <span class="mr-2">75%</span>
                <div>
                  <div class="progress">
                    <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                      aria-valuemax="100" style="width: 75%;"></div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">
              twitter
            </th>
            <td>
              2,645
            </td>
            <td>
              <div class="d-flex align-items-center">
                <span class="mr-2">30%</span>
                <div>
                  <div class="progress">
                    <div class="progress-bar bg-gradient-warning" role="progressbar" aria-valuenow="30"
                      aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->

<!-- Dark table -->
<!-- <div class="row mt-5">
  <div class="col">
    <div class="card bg-default shadow">
      <div class="card-header bg-transparent border-0">
        <h3 class="text-white mb-0">Card tables</h3>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center table-dark table-flush">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Project</th>
              <th scope="col">Budget</th>
              <th scope="col">Status</th>
              <th scope="col">Users</th>
              <th scope="col">Completion</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                <div class="media align-items-center">
                  <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                    <img alt="Image placeholder" src="../assets/img/theme/bootstrap.jpg">
                  </a>
                  <div class="media-body">
                    <span class="mb-0 text-sm">Argon Design System</span>
                  </div>
                </div>
              </th>
              <td>
                $2,500 USD
              </td>
              <td>
                <span class="badge badge-dot mr-4">
                  <i class="bg-warning"></i> pending
                </span>
              </td>
              <td>
                <div class="avatar-group">
                  <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                    data-original-title="Ryan Tompson">
                    <img alt="Image placeholder" src="../assets/img/theme/team-1-800x800.jpg" class="rounded-circle">
                  </a>
                  <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                    data-original-title="Romina Hadid">
                    <img alt="Image placeholder" src="../assets/img/theme/team-2-800x800.jpg" class="rounded-circle">
                  </a>
                  <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                    data-original-title="Alexander Smith">
                    <img alt="Image placeholder" src="../assets/img/theme/team-3-800x800.jpg" class="rounded-circle">
                  </a>
                  <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                    data-original-title="Jessica Doe">
                    <img alt="Image placeholder" src="../assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                  </a>
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <span class="mr-2">60%</span>
                  <div>
                    <div class="progress">
                      <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                        aria-valuemax="100" style="width: 60%;"></div>
                    </div>
                  </div>
                </div>
              </td>
              <td class="text-right">
                <div ngbDropdown placement="bottom-right">
                  <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                  <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                    <a class="dropdown-item" href="javascript:void(0)">Action</a>
                    <a class="dropdown-item" href="javascript:void(0)">Another
                      action</a>
                    <a class="dropdown-item" href="javascript:void(0)">Something
                      else here</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <div class="media align-items-center">
                  <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                    <img alt="Image placeholder" src="../assets/img/theme/angular.jpg">
                  </a>
                  <div class="media-body">
                    <span class="mb-0 text-sm">Angular Now UI Kit PRO</span>
                  </div>
                </div>
              </th>
              <td>
                $1,800 USD
              </td>
              <td>
                <span class="badge badge-dot">
                  <i class="bg-success"></i> completed
                </span>
              </td>
              <td>
                <div class="avatar-group">
                  <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                    data-original-title="Ryan Tompson">
                    <img alt="Image placeholder" src="../assets/img/theme/team-1-800x800.jpg" class="rounded-circle">
                  </a>
                  <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                    data-original-title="Romina Hadid">
                    <img alt="Image placeholder" src="../assets/img/theme/team-2-800x800.jpg" class="rounded-circle">
                  </a>
                  <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                    data-original-title="Alexander Smith">
                    <img alt="Image placeholder" src="../assets/img/theme/team-3-800x800.jpg" class="rounded-circle">
                  </a>
                  <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                    data-original-title="Jessica Doe">
                    <img alt="Image placeholder" src="../assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                  </a>
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <span class="mr-2">100%</span>
                  <div>
                    <div class="progress">
                      <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                        aria-valuemax="100" style="width: 100%;"></div>
                    </div>
                  </div>
                </div>
              </td>
              <td class="text-right">
                <div ngbDropdown placement="bottom-right">
                  <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                  <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                    <a class="dropdown-item" href="javascript:void(0)">Action</a>
                    <a class="dropdown-item" href="javascript:void(0)">Another
                      action</a>
                    <a class="dropdown-item" href="javascript:void(0)">Something
                      else here</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <div class="media align-items-center">
                  <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                    <img alt="Image placeholder" src="../assets/img/theme/sketch.jpg">
                  </a>
                  <div class="media-body">
                    <span class="mb-0 text-sm">Black Dashboard</span>
                  </div>
                </div>
              </th>
              <td>
                $3,150 USD
              </td>
              <td>
                <span class="badge badge-dot mr-4">
                  <i class="bg-danger"></i> delayed
                </span>
              </td>
              <td>
                <div class="avatar-group">
                  <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                    data-original-title="Ryan Tompson">
                    <img alt="Image placeholder" src="../assets/img/theme/team-1-800x800.jpg" class="rounded-circle">
                  </a>
                  <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                    data-original-title="Romina Hadid">
                    <img alt="Image placeholder" src="../assets/img/theme/team-2-800x800.jpg" class="rounded-circle">
                  </a>
                  <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                    data-original-title="Alexander Smith">
                    <img alt="Image placeholder" src="../assets/img/theme/team-3-800x800.jpg" class="rounded-circle">
                  </a>
                  <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                    data-original-title="Jessica Doe">
                    <img alt="Image placeholder" src="../assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                  </a>
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <span class="mr-2">72%</span>
                  <div>
                    <div class="progress">
                      <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="72" aria-valuemin="0"
                        aria-valuemax="100" style="width: 72%;"></div>
                    </div>
                  </div>
                </div>
              </td>
              <td class="text-right">
                <div ngbDropdown placement="top-right">
                  <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                  <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                    <a class="dropdown-item" href="javascript:void(0)">Action</a>
                    <a class="dropdown-item" href="javascript:void(0)">Another
                      action</a>
                    <a class="dropdown-item" href="javascript:void(0)">Something
                      else here</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <div class="media align-items-center">
                  <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                    <img alt="Image placeholder" src="../assets/img/theme/react.jpg">
                  </a>
                  <div class="media-body">
                    <span class="mb-0 text-sm">React Material Dashboard</span>
                  </div>
                </div>
              </th>
              <td>
                $4,400 USD
              </td>
              <td>
                <span class="badge badge-dot">
                  <i class="bg-info"></i> on schedule
                </span>
              </td>
              <td>
                <div class="avatar-group">
                  <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                    data-original-title="Ryan Tompson">
                    <img alt="Image placeholder" src="../assets/img/theme/team-1-800x800.jpg" class="rounded-circle">
                  </a>
                  <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                    data-original-title="Romina Hadid">
                    <img alt="Image placeholder" src="../assets/img/theme/team-2-800x800.jpg" class="rounded-circle">
                  </a>
                  <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                    data-original-title="Alexander Smith">
                    <img alt="Image placeholder" src="../assets/img/theme/team-3-800x800.jpg" class="rounded-circle">
                  </a>
                  <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                    data-original-title="Jessica Doe">
                    <img alt="Image placeholder" src="../assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                  </a>
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <span class="mr-2">90%</span>
                  <div>
                    <div class="progress">
                      <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                        aria-valuemax="100" style="width: 90%;"></div>
                    </div>
                  </div>
                </div>
              </td>
              <td class="text-right">
                <div ngbDropdown placement="top-right">
                  <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                  <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                    <a class="dropdown-item" href="javascript:void(0)">Action</a>
                    <a class="dropdown-item" href="javascript:void(0)">Another
                      action</a>
                    <a class="dropdown-item" href="javascript:void(0)">Something
                      else here</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <div class="media align-items-center">
                  <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                    <img alt="Image placeholder" src="../assets/img/theme/vue.jpg">
                  </a>
                  <div class="media-body">
                    <span class="mb-0 text-sm">Vue Paper UI Kit PRO</span>
                  </div>
                </div>
              </th>
              <td>
                $2,200 USD
              </td>
              <td>
                <span class="badge badge-dot mr-4">
                  <i class="bg-success"></i> completed
                </span>
              </td>
              <td>
                <div class="avatar-group">
                  <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                    data-original-title="Ryan Tompson">
                    <img alt="Image placeholder" src="../assets/img/theme/team-1-800x800.jpg" class="rounded-circle">
                  </a>
                  <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                    data-original-title="Romina Hadid">
                    <img alt="Image placeholder" src="../assets/img/theme/team-2-800x800.jpg" class="rounded-circle">
                  </a>
                  <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                    data-original-title="Alexander Smith">
                    <img alt="Image placeholder" src="../assets/img/theme/team-3-800x800.jpg" class="rounded-circle">
                  </a>
                  <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                    data-original-title="Jessica Doe">
                    <img alt="Image placeholder" src="../assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                  </a>
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <span class="mr-2">100%</span>
                  <div>
                    <div class="progress">
                      <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                        aria-valuemax="100" style="width: 100%;"></div>
                    </div>
                  </div>
                </div>
              </td>
              <td class="text-right">
                <div ngbDropdown placement="top-right">
                  <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                  <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                    <a class="dropdown-item" href="javascript:void(0)">Action</a>
                    <a class="dropdown-item" href="javascript:void(0)">Another
                      action</a>
                    <a class="dropdown-item" href="javascript:void(0)">Something
                      else here</a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> -->