<body>
    <div class="header bg-gradient-warning pb-8 pt-5 pt-md-8 ">
        <div class="container-fluid mr-5">
            <div class="header-body">



                <div class="col-xl-10 order-xl-1  ">
                    <div class="card bg-secondary shadow">
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">Proposez une course</h3>
                                </div>

                            </div>
                        </div>
                        <div class="card-body">
                            <form role="form" (ngSubmit)="onSubmit()" #offerForm="ngForm">
                                <h6 class="heading-small text-muted mb-4">Informations</h6>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="form-control-label" for="depart">Depart</label>
                                                <input type="text" id="pickup" required #pickup="ngModel"
                                                    [(ngModel)]="drive.pickup"
                                                    class="form-control form-control-alternative" placeholder="Depart"
                                                    name="pickup">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="form-control-label" for="destination">Destination</label>
                                                <input type="text" id="destination" [(ngModel)]="drive.destination"
                                                    class="form-control form-control-alternative" required
                                                    #destination="ngModel" placeholder="Destination" name="destination">

                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="form-control-label" for="Start">date de depart
                                                    prevue</label>
                                                <input type="datetime-local" id="deptime" [(ngModel)]="drive.deptime"
                                                    class="form-control form-control-alternative" required
                                                    #deptime="ngModel" placeholder="Date de depart" name="deptime">
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="form-control-label">Prix</label>
                                                <input type="text" id="price" [(ngModel)]="drive.price"
                                                    class="form-control form-control-alternative"
                                                    placeholder="prix en euros" required #price="ngModel" name="price">
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="form-group ">
                                                <label class="form-control-label">Nombre de places</label>
                                                <input type="number" id="seating" [(ngModel)]="drive.seating"
                                                    class="form-control form-control-alternative" required
                                                    #seating="ngModel" placeholder="Nombre de place" name="seating">
                                            </div>
                                        </div>



                                    </div>
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <div class="form-group">
                                                <label class="form-control-label">Details de la course</label>
                                                <textarea type="text" id="details" [(ngModel)]="drive.details"
                                                    class="form-control form-control-alternative" required
                                                    #details="ngModel" placeholder="Vos recommendations..."
                                                    name="details">
                                                </textarea>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- <div class="row">
                            <div class="col-lg-6">
                              <div class="form-group">
                                <label class="form-control-label" for="Start">Heure de depart réelle</label>
                                <input type="time" id="start-timer" class="form-control form-control-alternative" placeholder="Heure de debut reelle" >
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="form-group">
                                <label class="form-control-label" for="End">Heure de fin réelle</label>
                                <input type="time" id="end-timer" class="form-control form-control-alternative" placeholder="Heure de fin reelle">
                              </div>
                            </div>
                          </div> -->
                                </div>
                                <hr class="my-4" />
                                <!-- Infos -->

                                <!-- <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="form-control-label">Heure d'arrivée prevue</label>
                                                <textarea type="" id="end-timep"
                                                    class="form-control form-control-alternative"
                                                    placeholder="Write..."></textarea>
                                            </div>
                                        </div>
                                         <div class="col-lg-4">
                            <div class="form-group">
                              <label class="form-control-label" for="anneeac">Année academique</label>
                              <select  id="anneeac" class=" form-control form-control-alternative" name="Role" id="role">
                                <option  class="dropdown-item"></option>
                                <option  class="dropdown-item"></option>
                                <option  class="dropdown-item" ></option>
                              </select>
                            </div>
                          </div> 
                                       <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="form-control-label" for="semestre">UE</label>
                                                 <select [(ngModel)]="seance.idUE" id="UE"
                                                    class=" form-control form-control-alternative" name="UE" id="ue">
                                                    <option *ngFor="let item of ues" [value]="item.id"
                                                        class="dropdown-item"></option>
                                                </select>
                                            </div>
                                        </div> 
                                    </div>
                                </div>-->
                                <!-- <hr class="my-4" />
                      
                      <h6 class="heading-small text-muted mb-4">About me</h6>
                      <div class="pl-lg-4">
                        <div class="form-group">
                          <label>{{ test | date }} </label><br>
                          <label>{{ test | date:'shortTime' }} </label>
                          <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words about you ...">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea>
                        </div>
                      </div> -->
                                <div class="text-center">
                                    <button type="submit" class="btn btn-danger mt-4">Proposer une course</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_0t1JWLLMAuKg5aygvTZo6xj9cUIYfXc&libraries=places"></script> -->

</body>