<div>
    <div class="modal-header">
        <h4 class="modal-title">Selectionnez le nombre de places</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Close')">
            <span aria-hidden="true">&times;</span>
        </button>

    </div>
    <div class="modal-body">
        <label>places
            <input type="number" id="seats" [(ngModel)]="booking.seats" placeholder="1" required #seats="ngModel" />
        </label>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn bg-gradient-primary" (click)="confirmer_modal()">Confirmer</button>
        <button type="button" class="btn btn-warning" (click)="activeModal.close('Close')">Cancel</button>
    </div>
</div>